/* TOP BAR */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

/* FILTER WRAPPER */
.filter-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
    max-width: 72%;
}

/* FILTERS */
#filters {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1.5rem;
    padding: 1rem 0;
    flex: 1;

    scrollbar-width: none;
}

#filters::-webkit-scrollbar {
    display: none;
}

/* FILTER ITEM */
.filter {
    min-width: 80px;
    flex: 0 0 auto;
    text-align: center;
    opacity: 0.7;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

/* SCROLL BUTTONS (NO absolute now) */
.scroll-btn {
    background: white;
    border: 1px solid #ddd;
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    border-radius: 50%;
}

/* TAX TOGGLE */
.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

@media (max-width: 768px) {
     .filter-wrapper {
        flex: 0 0 100%;  
        max-width: 100%;       
    } 
    .tax-toggle {
        width: 100%;        
    }
    .scroll-btn {
        display: none;
    }
} 

@media (max-width: 768px) {
    form.d-flex {
        flex-direction: column;
    }

    .search-inp {
        width: 100%;
    }

    .search-btn {
        width: 100%;
        margin-top: 0.5rem;
    }
}

/* TAX INFO */
.tax-info {
    display: none;
}